/* Working in Firefox 114.0 */

/* Entire upper thing */
#navigator-toolbox {
  background-color: #0C0C0C;
  font-size: 13px;
  border-width: 0!important;
}

/* Tabs Toolbar */

/* Shrinking the tabs toolbar */
/* Tabs bar height */
#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox {
	height: auto !important;
	min-height: auto !important;
	--tab-min-height: 22px !important;
}
tab > stack {
	height: 22px !important;
	width: 22px !important;
	min-height: 22px !important;
}
#TabsToolbar-customization-target,
.tabbrowser-tab hbox {
  max-height: 22px;
}
#alltabs-button {
  position: relative;
  top: -1px!important;
}

/* Center tab content */
.tabbrowser-tab[selected]:not(:hover):not([pinned]) .tab-label-container,
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover):not([pinned]) .tab-label-container {
  padding-inline-end: 6px !important;
}
.tab-icon-stack {
  margin-inline-start: auto
}
.tab-label-container {
  max-width: min-content;
  margin-inline-end: auto;
}

/* Tabs Toolbar stuff */
#firefox-view-button,
#tabs-newtab-button,
.titlebar-spacer,
.tab-close-button,
.tab-icon-sound-label {
  display: none;
}

.tabbrowser-tab .tab-background {
  background-color: transparent!important;
  border-left-width: 3px!important;
  border-left-color: transparent!important;
  border-radius: 4px!important;
  position: relative!important;
  top: -5px!important;
}
.tabbrowser-tab:hover .tab-background {
  background-color: #040404!important;
}
.tabbrowser-tab[selected=true] .tab-background {
  background-image: linear-gradient(to right, #040404, #0C0C0C)!important;
  border-left-style: solid!important;
  border-left-width: 4px!important;
  border-image: linear-gradient(0deg, #A39CD9, #EB8BB2) 1 !important;
}
.tabbrowser-tab[selected=true] {
  color: #9EC3C4!important;
  font-weight: 700!important;
}

/* Nav bar */
#nav-bar {
  background-color: transparent!important;
  position: absolute;
  left: 5px;right: 5px;
}
#urlbar * {
  border: none!important;
}
#urlbar-input-container {
  position: relative;
  bottom: -5px;
}

/* Shrinking the toolbar */
#nav-bar hbox {
  max-height: 22px;
}
.urlbar-page-action {
  position: relative!important;
  bottom: 3px!important;
}
#unified-extensions-button,
#PanelUI-menu-button {
  position: relative!important;
  bottom: 0px!important;
}
#downloads-button {
  position :relative;
  bottom: 0px;
}

/* Nav bar stuff */
.toolbarbutton-icon {
  max-width: 96%;
}
.urlbar-icon,
#identity-icon,
#tracking-protection-icon {
  max-width: 80%;
}
toolbartabstop,
#home-button,
#forward-button,
#back-button,
#reload-button,
#urlbar-go-button,
#star-button-box {
  display: none!important;
}
#urlbar-background {
  background-color: transparent!important;
}

/* Search Result Dropdown */
.urlbarView {
  display: none!important;
}

/* Bookmarks Toolbar */
#PersonalToolbar {
  background-color: #0C0C0C!important;
}
#PlacesToolbarItems {
  background-color: transparent!important;
}

:root {
  --NavBarWidth: 36;
}
/*  Oneline hack  */
/*  Only the tabs space will grow from here  */
/*@media screen and (min-width:1325px) {
  :root #nav-bar {
    margin-top: -22px!important;
    height: 22px!important;
  }
  #TabsToolbar {
    margin-left: calc(1325px / 100 * var(--NavBarWidth)) !important;
  }
  #nav-bar {
    margin-right: calc(100vw - calc(1325px / 100 * var(--NavBarWidth))) !important;
    vertical-align: center !important;
  }
  #urlbar-container {
    min-width: 0px !important;
    flex: auto !important;
  }
  toolbarspring {
    display: none !important;
  }
}*/
/*  Both the tabs space and the navbar will grow  */
/*@media screen and (min-width:850px) and (max-width:1324px) {
  :root #nav-bar {
    margin-top: -22px!important;
    height: 22px!important;
  }
  #TabsToolbar {
    margin-left: calc(var(--NavBarWidth) * 1vw) !important;
  }
  #nav-bar {
    margin-right: calc(100vw - calc(var(--NavBarWidth) * 1vw)) !important;
    vertical-align: center !important;
  }
  #urlbar-container {
    min-width: 0px !important;
    flex: auto !important;
  }
  toolbarspring {
    display: none !important;
  }
  #TabsToolbar,
  #nav-bar {
    transition: margin-top .25s !important;
  }
}*/
/*  The window is not enough wide for a one line layout  */
/*@media screen and (max-width:849px) {}*/
  :root #nav-bar {
    margin-top: 0px!important;
    height: 22px!important;
  }
  toolbarspring {
    display: none !important;
  }
  #TabsToolbar,
  #nav-bar {
    transition: margin-top .25s !important;
  }

/* Fix & customize address bar */
#urlbar[breakout-extend=true] #urlbar-input-container {
  position: relative;
  bottom: 0px;
}
#urlbar[focused=true] #urlbar-input-container {
  background-color: #161616!important;
}
#urlbar[focused=true] #urlbar-input {
  color: #EBCB8B!important;
  caret-color: #EB8BB2;
  font-weight: 700!important;
}
#urlbar #urlbar-input::selection {
  background-color: #282A58
}

/* Findbar */
findbar {
  background-color: #040404!important;
  height: 25px!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  border-top-width: 0!important;
}
findbar * {
  font-size: 13px;
}
findbar .checkbox-check {
  background-color: #161616!important;
  border: none!important;
}
findbar checkbox:hover .checkbox-check {
  background-color: #282A58
}
findbar .checkbox-check[checked=true] {
  background-color: #9EC3C4!important;
  color: transparent!important;
}
findbar checkbox:hover .checkbox-check[checked=true] {
  background-color: #9EC3C4!important;
}
findbar .findbar-textbox {
  background-color: transparent!important;
  border: none!important;
}
findbar .findbar-textbox::selection {
  background-color: #282A58
}
findbar .findbar-textbox:focus {
  background-color: #161616!important;
  outline: none!important;
  color: #EBCB8B!important;
  font-weight: 700!important;
  caret-color: #EB8BB2;
}
